<div class="layout">

  <!-- ================= MOBILE HEADER ================= -->
  <header class="mobile-header">

    <p-button
      icon="pi pi-bars"
      [text]="true"
      aria-label="Open menu"
      (onClick)="sidebarVisible = true">
    </p-button>

    <div class="logo">
      <img [src]="tenantLogo" [alt]="tenantName || 'Logo'" width="120"/>
    </div>

  </header>

  <!-- ================= MOBILE DRAWER ================= -->
  <p-drawer
    [(visible)]="sidebarVisible"
    position="left">

    <div class="sidebar-logo">
      <img [src]="tenantLogo" [alt]="tenantName || 'Logo'" width="120"/>
    </div>

    <nav class="mobile-menu">

      @for (menu of menus; track menu.label) {

        <a
          [routerLink]="menu.route"
          routerLinkActive="active"
          class="menu-item"
          (click)="sidebarVisible = false">

          <i [class]="menu.icon"></i>
          <span>{{ menu.label }}</span>

        </a>

      }

      <button
        class="p-ripple p-button p-button-success p-component w-full logout-btn"
        (click)="logout(); sidebarVisible = false">
        Log Out
      </button>

      <div class="login-info">
        @if (tenantName) {
          <div class="tenant-name">{{ tenantName }}</div>
        }
        @if (userName) {
          <div class="user-name">{{ userName }}</div>
        }
      </div>

    </nav>

  </p-drawer>

  <!-- ================= DESKTOP SIDEBAR ================= -->
  <aside class="sidebar">

    <div class="sidebar-logo">
      <img [src]="tenantLogo" [alt]="tenantName || 'Logo'" width="200" />
    </div>

    <nav class="desktop-menu">

      @for (menu of menus; track menu.label) {

        <a
          [routerLink]="menu.route"
          routerLinkActive="active"
          class="menu-item">

          <i [class]="menu.icon"></i>
          <span>{{ menu.label }}</span>

        </a>

      }
      <button class="p-ripple p-button p-button-success p-component w-full logout-btn" (click)="logout()">Log Out</button>

      <div class="login-info">
        @if (tenantName) {
          <div class="tenant-name">{{ tenantName }}</div>
        }
        @if (userName) {
          <div class="user-name">{{ userName }}</div>
        }
      </div>
    </nav>

  </aside>

  <!-- ================= MAIN CONTENT ================= -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>