:host {
  display: block;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #f4fff7 50%,
    #e8fff0 100%
  );
}

:host ::ng-deep .login-btn {
  background: #2aaa8c;
  border-color: #2aaa8c;
}

:host ::ng-deep .login-btn:hover {
  background: #20bd5c;
  border-color: #20bd5c;
}

.surface-card {
  max-width: 450px;
  margin: auto;
}

/* Tablet */
@media (min-width: 768px) {
  .surface-card {
    padding: 1rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .surface-card {
    max-width: 500px;
  }
}

.login-btn {
  height: 48px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 12px;
}